<div id="about">
<h1>About Me</h1>
<div>
    <button mat-raised-button color="success" (click)="cvDownload()" class="cv-dl">Téléchargez mon CV</button>
</div>
<h2>Projets</h2>

<div id="container_video">
    <video src="../../assets/agenceweb.ogv" autoplay muted loop></video>
    <video src="../../assets/momentum-1.ogv" autoplay muted loop></video>
    <div class="coming"><span class="text_coming">It's coming <span class="dot_text1">.</span><span class="dot_text2">.</span><span class="dot_text3">.</span> </span></div>

    <div class="coming"><span class="text_coming">It's coming <span class="dot_text1">.</span><span class="dot_text2">.</span><span class="dot_text3">.</span> </span></div>
</div>

<div id="container_parcours">
    <h2>Parcours</h2>

    <ul>
        <li>
            <p>Aujourd'hui</p>
            <p>Je recherche un CDI en tant que développeur Web </p>
        </li>
        <li>
            <h3>Simplon</h3>
            <p>Avril 2019 - Janvier 2020</p>
            <p>Formation développeur Web JS</p>
        </li>
        <li>
            <h3>MOTA (Industrie)</h3>
            <p>2011 - 2019 </p>
            <p>Chef d'équipe</p>
            <p><i>Logistique</i></p>
        </li>
    </ul>
</div>
</div>