
<div id="contact">
    <h1>Contact</h1>
    <form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="credentials.name" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email (Pour vous envoyez une copie du mail)" [formControl]="emailFormControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="credentials.mail">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Entrez une adresse mail valide!
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class='example-full-width'>
            <textarea cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="25"
            matInput type="text"  
            placeholder="Message ..." 
            name="message"
            [(ngModel)]="credentials.message" 
            ></textarea>
            </mat-form-field>
            <div>
            <button mat-raised-button color="primary" type="submit" (click)="sendMail()" [disabled]="!credentials.name || !credentials.mail || !credentials.message">Envoyer</button>
        </div>
        <!-- <div *ngIf="mailStatus === true">
          <p class="emailConfirmation">Votre mail a bien été envoyé <i class="material-icons close" (click)="close()">close
          </i> </p>
          
        </div> -->
        <div>
          <p class="error" *ngIf="this.error != null">{{error}}</p>
      </div>
    </form>
    
    <p>Pour me contacter directement: </p>
    <a href="mailto:guienjoris@gmail.com"><i class="material-icons mail">
      mail
      </i></a>
</div>
