
<div id="contact">
    <h1>Contact</h1>
    <form>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="credentials.name" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email (Pour vous envoyez une copie du mail)" [formControl]="emailFormControl"
                   [errorStateMatcher]="matcher" [(ngModel)]="credentials.mail">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Entrez une adresse mail valide!
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email est <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class='example-full-width'>
            <textarea cdkTextareaAutosize
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="25"
            matInput type="text"  
            placeholder="Message ..." 
            name="message"
            [(ngModel)]="credentials.message" 
            ></textarea>
            </mat-form-field>
            <div>
            <button mat-raised-button color="primary" type="submit" (click)="sendMail()">Envoyer</button>
        </div>

    </form>
    <p>Sinon vous pouvez m'envoyer un mail directement en cliquant en dessous: </p>
    <a href="mailto:guienjoris@gmail.com"><i class="material-icons">
      mail
      </i></a>
</div>
