.container_menu{
    width:100%;
    a{
        width:100%;
        padding:1%;
        margin-top:2%;
        color:white;
        font-size:300%;
        font-family: 'Poiret One', cursive;
        text-decoration:none;
        display:flex;
        justify-content: center;
        &:hover{
            text-shadow:3px 1px 10px white ;
        }
    }
}