
<div id="menu">
    <div id="container_menu">
    <a routerLink="/">Home</a>
    <a routerLink="/skills">Skills</a>
    <a routerLink="/about">About Me</a>
    <a routerLink="/contact">Contact</a>


    
</div>
<div id="container_link">
    <ul>
        <li><a href="https://www.linkedin.com/in/joris-guien/" class="linkedin">LinkedIn</a></li>
        <li><a href="https://github.com/guienjoris" class="git">GitHub</a></li>
        <li><a href="https://www.instagram.com/joris_guien/" class="insta">Instagram</a></li>

    </ul>
</div>
</div>