
<div id="skills">
<h1>SKILLS</h1>

<p>Je développe mes skills tout les jours en créant de nouveaux sites et application Web.</p>

<div id="container_skills">
    <div class="container">
        <ul>
            <h2>Developpement</h2>
            <li>HTML5</li>
            <li>CSS3/SASS</li>
            <li>Javascript</li>
            <li>Angular/ReactJS</li>
            <li>NodeJS/Express</li>
            <li>MongoDB/Mongoose</li>
        </ul>
    </div>
    <div class="container">
        <ul>
            <h2>Others</h2>
            <li>FIGMA</li>
            <li>Linux(Ubuntu/Fedora/ArchLinux)</li>
            <li>Libre Office</li>
        </ul>
    </div>
</div>
</div>