.menu{
    color:white;
    position:fixed;
    top:1%;
    font-family:'Poiret One', cursive;
    font-weight:bold;
    text-decoration: none;
    font-size:200%;
    margin-left:1%;
    &:hover{
        text-shadow:1px 1px 10px white ;
    }
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;  /* Preferred icon size */
    color:white;
    float:left;
    &:hover{
        cursor: grab;
        text-shadow: 2px 2px 2px red;
    }
}