<h1 class="name anim-typewriterName ">Guien Joris</h1>
<h1 class="line-1 anim-typewriter">  Développeur Web <a><i class="material-icons play" (click)="displayText()">play_arrow</i></a></h1>
<div *ngIf="displayTextStatus===true" class="about_me">
  <i class="material-icons close_button" (click)="displayText()">
    close
  </i>
  <p>Jeune développeur Web, passionné de nouvelles technologies principalement orientée Web comme Angular/Node, mais aussi amateur de cinéma et de musique. </p>
    <p> J'aime également l'escalade et le sport en général.</p>
</div>
